.container {
    text-align: justify;
    width: 800px;
    margin: 20px auto;
}

.article {
    background: #eee;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
}

.card {
    margin-bottom: 20px;
}

.card-body {
    padding: 1rem;
}

.btn-toolbar {
    flex-direction: row;
    justify-content: space-between;
}

a, a:hover {
    color: #fefefe;
}

.badge {
    margin-right: 5px;
}

.info {
    margin-bottom: 20px;
    margin-top: 20px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
